* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.foto1 {
  position: absolute;
  width: 500px;
  left: 200px;
  bottom: 0;
  filter: drop-shadow(5px 5px 2px black);
}

.foto1:hover {
  filter: drop-shadow(10px 10px 10px black);
}

.contenedorBanner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url(../assets/wallpaperflare.com_wallpaper.jpg);
  background-size: cover;
}
.logo {
  position: absolute;
  width: 600px;
}

.logo:hover {
  filter: drop-shadow(10px 10px 4px #d6e54f);
}

.boton {
  width: 160px;
  height: 40px;

  border: solid 1px rgb(37, 150, 190);
  font-family: monospace;
  font-size: 1.4em;
  border-radius: 15px;
  align-self: center;
  margin-top: 20px;
  margin-left: 100px;
}

.boton:hover {
  border: solid 4px rgb(37, 150, 190);
  font-family: monospace;
  font-size: 1.5em;
  border-radius: 15px;
  height: 50px;
}

.navbar {
  color: rgb(37, 150, 190);
  background-color: hsla(0, 100%, 90%, 0.3);
}
